/* Unordered list  */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* Header's Unordered list styling */
ul.my_class {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e4b63a;
  font-weight: bold;

 
}

/*styling and positioning the submit button*/
input[type=submit] {
  background-color: #e4b63a;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* Header's Unordered list styling */

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #e4b63a;
  float: left;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #111;
}
/* Boxes' styling */
.boxed {
  border: 1px solid #e4b63a ;
  text-align: center;
}
/* Staff Password Validator styling */
label{
  font-weight: bold;

}
/* Table's styling */
table, th, td {
  border: 1px dotted #e4b63a;
}
/* Table's styling */
th, td {
  padding: 5px;
  height: 50px;
}
/* Table's styling */
table {
  width: 400px;
 
  
}
/* Menu options' styling */
.center {
  margin-left: auto;
  margin-right: auto;
}
/* Header's 1 styling */
h1{
  text-align: center;
  font-size: large;
}

/* Body's styling */
body{
  text-align: center;
  background-image: url("/img/background1.jpg");
  border: 2px dashed #333;
  color: white;
  font-family: 'Times New Roman', Times, serif;

}
/* Show User button's styling */
.showUsers {
  background-color: #e4b63a;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px;
  margin: 10px 75px;
  border-radius: 5px;
}
/* Checking Password button's styling */
.checkPwd {
  background-color: #e4b63a;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px;
  margin: 10px 75px;
  border-radius: 5px;
}

/* Input checkbox's styling */
input[type="checkbox"]
{
  display: inline-block;
  vertical-align: middle;
}


/*styling and positioning the menu */
.menu {
  background: #000000;
  opacity: 0.6;
  width: 100%;
  max-width: 700px;
  height: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}
